tensorflow~=2.18.0
numpy~=2.0.2
opencv-contrib-python~=4.11.0.86
opencv-python~=4.11.0.86
keras~=3.8.0
Keras-Preprocessing~=1.1.2
tf_keras~=2.18.0
torch~=2.5.1+cu121
transformers~=4.48.3
pillow~=11.1.0
scikit-image~=0.25.1
scikit-learn~=1.6.1
orjson~=3.10.15
